.header, footer {
    background-color:beige;
    color:brown;
    text-align: center;
    font-size: 25px;
}

body {
    font-family: Georgia;
    background-image: url('https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png');
}

.title {
    font-weight: bold;
}