img {
    height: 150;
}

.description {
    font-size: 20px;
}

#cook-time {
    font-weight: bold;
}

.ingredients li {
    list-style: square;
}

p.time {
    color: gray;
    font-weight: bold;
}

.external-link {
    color: seagreen;
}

h1, h2, p, li {
    font-family: Helvetica;
}

.title, .citation{
    color: antiquewhite;
    background-color: coral;
}

#saladImage {
    opacity: 0.7;
}

body {
    background-image: url('https://www.mydomaine.com/thmb/F29gbf_hDMnAbT6FlK5JwykBurE=/950x1194/filters:fill(auto,1)/small-white-kitchen-design-ideas-15-house-of-chais-ig-973460c047b74943a8b250d09048032d.png');
    background-blend-mode: soft-light;
    
}

.listIngredients {
    background-color: antiquewhite;
}